.body {
  background-color: aquamarine;
}

.container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 20px;
  border: 1px solid blue;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  color: palevioletred;
  font-size: 24px;
  margin-bottom: 20px;
}

.todo-form input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid yellow;
  border-radius: 3px;
}

.todo-form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: yellow;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.todo-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

.todo-item button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  margin-left: 5px;
}

.todo-item button.edit-btn {
  background-color: #008CBA;
}

.todo-item button.save-btn {
  background-color: #4CAF50;
}

.todo-item button.cancel-btn {
  background-color: #f44336;
}

.todo-item input[type="text"] {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.todo-item .edit-mode {
  display: none;
}

.todo-item.editing .edit-mode {
  display: inline-block;
}

.todo-item.editing .view-mode {
  display: none;
}
